
.fia {margin-right:25cm;}

.f1 {margin-left: 35cm;}

h2 {text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}


td {
    border: 1px solid;
    background-color: rgb(171, 185, 186);
}

th {
    border: 1px solid;
    background-color: rgba(45, 45, 240, 0.771);
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

table {
    border-style: solid;
    border-color: #0d0746;
}

.right {
    margin-left: 25cm;
}

.lugar {
    background-color: rgba(255, 159, 5, 0.741);
    color: white;
    text-align: center;
}

.pontos {background-color: antiquewhite;}